@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inn System</h1>
    <p class="lead"> Um sistema de administração de pousadas</p>

</div>
<img src="~/Content/images/Old_Hroldan_Inn.png" style="width:100%; height:650px; position:center;" />